{% extends "base.html" %}
{% load static %}

{% block head_extra %}
<title>Purchase Invoice | Croma</title>
{% endblock %}
{% block style %}

<link rel="stylesheet" href="{% static '/css/purchase.css' %}" />
<style media="screen">

</style>

{% endblock %}
{% block content %}

	{% include "navbar.html" %}
  <style scoped>
    .form-group.required .control-label:after {
      content:"*";
      color:red;
      margin-left: 4px;
    }
  </style>

  <div style="width: 50%;" class="container-fluid">
    <center>
    <form action="{% url 'editSuppliers' Supplier.id %}" method="post" class="modal-content form-horizontal" id="Item-purchase-form">
      {% csrf_token %}
      <div class="modal-header" >
        <h4 class="modal-title" id="editor-title">Add supplier</h4>
      </div>

      <div class="modal-body">
          <div class = "row">
          <div class = "col-sm-12">
            <div class = "row item-1row">
              <div class="form-group required col-sm-12" style = "margin-right: 15px;">
               <label for="item_name" class="control-label labelType1">Name</label>
                <input value="{{Supplier.name}}" type="text"  name="name"  id = "id_item_id">
              </div>
            </div>
          </div>
          <div class = "col-sm-12">
            <div class = "row item-1row">
              <div class="form-group required col-sm-12" style = "margin-right: 15px;">
               <label for="item_name" class="control-label labelType1">Address</label>
                <input value="{{Supplier.address}}" type="text" name="address" id = "id_item_id">
              </div>
            </div>
          </div>
          <div class = "col-sm-12">
            <div class = "row item-1row">
              <div class="form-group required col-sm-12" style = "margin-right: 15px;">
               <label for="item_name" class="control-label labelType1">GSTIN</label>
                <input value="{{Supplier.gst}}" type="text" name="gstin" id = "id_item_id">
              </div>
            </div>
          </div>





          </div> <!-- END OF COL-MD-9 -->
        </div>
          <div class = "row">
            <center>

              <input style="margin-bottom: 25px;"type="submit" id = "purchase-item-submit" class="btn btn-primary" value = "Edit">
            </center>

          </div>
            <center>
     <!-- End of model Body -->
    </form>





{% endblock %}
{% block script %}



<script type="text/javascript">
{% include 'Sales/sales.js'%}
</script>
{% endblock %}
