{% load static %}
<div class = "container-fluid" style="width: 96%;">
	<form  class = "form-group row"  method="POST" action = "{% url 'itemPurchased' %}">{% csrf_token %}
	<div class = "row">
		<div class = "col-sm-6 firstCol">
			<input type="hidden" name="" value="">
				<label for="Name" class="control-label labelType2">Supplier Name</label>
				<select name="Name" id = "id_sgst">
					{% for supplier in all_suppliers %}
					<option value="{{supplier.name}}">{{supplier.name}}</option>
					{% endfor %}
				</select>
				<br>
				<br>
				<label for="doc-no" class="control-label">Invoice Number</label>
		    <input type = "number" id = "id_doc_no" name = "Inv_num"><br>
				<label for="doc-no" class="control-label">Date</label>
 		    <input type = "date" id = "id_doc_no" name = "Date"><br>
				<label for="doc-no" class="control-label">Document No.</label>
 		    <input type = "number" id = "id_doc_no" name = "Doc_num"><br>
				<label for="doc-no" class="control-label">Document Date</label>
 		    <input type = "date" id = "id_doc_no" name = "Doc_date"><br>
				<label for="doc-no" class="control-label">Mode of trasaction</label>
 		    <input type = "text" id = "id_doc_no" name = "Mode"><br>
				<button style="margin-left:7%; margin-top:2%;" type = "submit" id = "id_doc_no" name = "doc_no">Save</Button>
		</div>
	</div>
	</form>
</div>
